body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', sans-serif;
}

h1 {
    color: #0d6efd;
    font-weight: 600;
}

.table th {
    background-color: #0d6efd;
    color: white;
}

.btn-success {
    background-color: #198754;
}

footer {
    margin-top: 100px;
    font-size: 0.9em;
    color: #6c757d;
}